# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
.wrangler/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.swp
*.swo
*.local
Thumbs.db

# Env
.env
.env.local
.env.*.local
